<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Submit</title>
    <style>
        body {
            background: url(https://media.istockphoto.com/photos/triangular-abstract-background-picture-id624878906?k=6&m=624878906&s=612x612&w=0&h=uDcbe038RdtiiHchahAbwOYfx0bkPVLfsn0NOjA0gTM=);
            border: 10px solid yellow;
            background-size: cover;
            padding: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h4>Thanks for registeration!!</h4>
</body>
</html>
